fastapi==0.115.8
uvicorn==0.34.0
pydantic==2.10.6
pydantic-settings==2.7.1
sqlalchemy==2.0.37
psycopg2-binary==2.9.10
pandas==2.2.3
numpy==2.2.2
xgboost==3.3.0
scikit-learn==1.6.1
joblib==1.4.2
python-dotenv==1.0.1
requests==2.32.3
catboost==1.2.10
